parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:cascadeSoftDeletes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Jobs/CascadeSoftDeletes.php

		-
			message: '#^Trait AssetTV\\LaravelCascadedSoftDeletes\\Traits\\CascadedSoftDeletes is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/CascadedSoftDeletes.php
